body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}
span, p, svg{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}